.projects {
  margin: 0;
  padding: 0;
}

.project-title {
  font-weight: 600;
  font-size: 2rem;
}

.project-description {
  font-size: 1.2rem;
}

.projects-flex-container {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  animation: projectAnimation 500ms ease-in;
}

.projects-container-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-container-right {
  flex: 1.3;
  min-width: 250px;
  align-self: center;
}

.project-links {
  display: flex;
  gap: 15px;
  flex-grow: 1;
  align-items: flex-end;
}

.project-links a {
  color: #79addc;
}

.project-img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.project-technologies {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  color: #707775;
}

.technology-item {
  background-color: #c6def1;
  border-radius: 50px;
  padding: 0px 10px;
}

.project-github,
.project-code {
  cursor: pointer;
  transition: all 150ms linear;
}

.project-github:hover,
.project-code:hover {
  transition: all 150ms linear;
  color: #94bde3;
}

@media (min-width: 320px) {
  .projects-container {
    padding: 25px 16px 16px 16px;
  }

  .project-description {
    font-size: 1rem;
  }

  .projects-flex-container {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .project-description {
    font-size: 1.1rem;
  }

  .projects-container {
    padding: 25px 55px 50px 55px;
  }
}

@media (min-width: 1024px) {
  .project-title {
    font-size: 1.5rem;
  }

  .projects-flex-container {
    flex-direction: initial;
  }

  .project-github,
  .project-code {
    height: 40px;
    width: 40px;
  }
}
