.about {
  width: 100%;
}

.about-container {
  margin: auto;
}

.about-flex-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 35px;
}

.about-text {
  flex: 0.7;
}

.about-left {
  flex: 0.3;
  background-color: #c6def1;
  border-radius: 16px;
}

.about-img {
  width: 95%;
  height: 95%;
  border-radius: 16px;
  border: 6px solid #79addc;
}

.section-paragraph {
  font-size: 1.2rem;
}

.icon:hover {
  color: #56cfe1;
}

@media only screen and (min-width: 320px) {
  .about-flex-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .about-flex-container {
    flex-direction: initial;
  }
}

@media (min-width: 1024px) {
  .about {
    display: flex;
    justify-content: center;
  }
  .about-text {
    padding: 30px;
  }
}
