.about {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
}

.about-container {
  margin: auto;
  width: 90%;
  height: 100vh;
}

.about-flex-container {
  display: flex;
  align-items: center;
}

.about-text {
  flex: 1;
  padding: 10px;
  line-height: 2rem;
}

.section-paragraph {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
}

.section-paragraph::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
}

.technology-container {
  flex: 1;
  padding: 10px;
}

.technology-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, auto));
  grid-gap: 20px;
  justify-content: center;
}

.technology-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Laptops */
@media (max-width: 1024px) {


}

@media only screen and (max-width: 960px) {
  
}

/* Tablets */
@media only screen and (max-width: 768px) {
  .about-flex-container {
    flex-direction: column;
  }
  .technology-grid-container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
  
}

/* Mobile devices */
@media only screen and (max-width: 640px) {

  
}

@media only screen and (max-width: 480px) {
/* 
  .about-container {
    padding: 100px 50px;
  } */

  .technology-grid-container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

  }
  .technology-grid-container {
    gap: 10px;
  } 
  .about-text {
    padding: 0;
  }
  .section-paragraph {
    font-size: 1rem;
  }
}       
@media only screen and (max-width: 320px) {

}
