.contact {
}

.contact-container {
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45vw;
}

.contact-social-link {
  text-decoration: none;
  color: #5aa9e6;
  transition: all 250ms linear;
}

.contact-social-link:hover {
  color: #a5d0f1;
  transition: all 250ms linear;
}

.contact-description {
  text-align: center;
  margin-bottom: 10px;
  width: 80%;
}

.name-input-box,
.email-input-box {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  font-weight: 600;
}

.submit-btn {
  margin-top: 10px;
  color: #ffff;
  margin-left: auto;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: #79addc;
  border: none;
  text-align: center;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 250ms linear;
}

.submit-btn:hover {
  background-color: #94bde3;
}

.message-input-box {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  font-weight: 600;
  height: 200px;
  resize: none;
  font-family: inherit;
}

.form-submit-msg {
  font-weight: 600;
  animation: form-submit-anim 200ms ease-in-out;
}

@keyframes form-submit-anim {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 768px) {
  .contact-form {
    width: 60vw;
  }
  .contact-description {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }

  .contact-container {
    padding: 10px;
    justify-content: center;
  }

  .contact-description {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .contact-form {
    gap: 10px;
    width: 250px;
  }

  .contact-description {
    text-align: center;
    padding: 0px 0px 10px 0px;
    width: 90%;
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
