.header {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #ffff;
}

.header-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: auto;
  width: 90%;
}

.connect-btn {
  width: fit-content;
  border: 2px solid #56cfe1;
  color: #ffff;
  border-radius: 2px;
  padding: 20px;
  background: none;
  cursor: pointer;
  margin-top: 50px;
  position: relative;
  font-size: 1.2rem;
}

.connect-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #56cfe1;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.connect-btn:hover::before, .connect-btn:hover:focus::before {
  transform: scaleX(1);
}

.connect-btn {
  transition: color 300ms ease-in-out;
  z-index: 1;
}

/* .connect-btn:hover, .connect-btn:focus {
  color: #FFFF;
} */

.intro {
  font-size: 4rem;
  font-weight: 800;
  animation: intro-anim 500ms ease-in;
}

@keyframes intro-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100;
  }
}

.headline {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.4);
}

.intro-description {
  color: rgba(255, 255, 255, 0.6);
}

.header-links {
  display: flex;
  gap: 10px;
}

.header-link-item {
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
}

/* Mobile devices */
@media only screen and (max-width: 640px) {
  
}

@media (max-width: 480px) {
.header-container {
  padding: 0px 20px 0px 20px;
}
  .intro {
    font-size: 3rem;
  }


.connect-btn {
  padding: 15px;
  margin-top: 50px;
  font-size: 1.2rem;
}
}
    
@media only screen and (max-width: 320px) {
  .intro {
    font-size: 2.5rem;
  }
  .headline {
    font-size: 1rem;
  }
  .intro-description {
    font-size: 0.8rem;
  }
}