.App {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: grey;
  letter-spacing: 1.5px;
}

html,
body,
#root,
.App {
  margin: 0;
  padding: env(safe-area-inset);
  height: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

section {
}

.icon {
  height: 50px;
  width: 50px;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 45px 0px;
}

.bkg {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(19, 5, 65, 1) 42%,
    rgba(25, 133, 172, 1) 100%,
    rgba(61, 11, 80, 1) 100%
  );
}

/* Laptops */
@media (max-width: 1024px) {
  .section-title {
    font-size: 2rem;
  }

  .project-main {
    margin: 150px 0px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .icon {
    height: 30px;
    width: 30px;
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  .icon {
    height: 30px;
    width: 30px;
  }

  .project-main {
    margin: 150px 0px 0px 0px;
  }

  .section-title {
    margin: 0px;
  }

  section {
    padding: 0px;
  }
}

/* Mobile devices */
@media (max-width: 320px) {
  .section-title::after {
    height: 40px;
    width: 40px;
  }
}
